Flask==3.1.0
flask-cors==5.0.1
Flask-Limiter==3.12
python-dotenv==1.1.0

langchain==0.3.24
langchain-community==0.3.22
langchain-core==0.3.56
langchain-openai==0.3.14
langchain-google-genai==2.1.3

openai==1.76.0
faiss-cpu==1.10.0
tiktoken==0.9.0
